MyFrameWork.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MyFrameWork.xcodeproj/xcuserdata/guohui.xcuserdatad/xcschemes/MyFrameWork.xcscheme
MyFrameWork.xcodeproj/xcuserdata/guohui.xcuserdatad/xcschemes/xcschememanagement.plist
